body {
	background: url(../img/tree1.jpg) no-repeat center center fixed;
	background-size: cover;
}

p {
	font-size: 16px;
}

.p-cafe {
	padding-bottom: 18px;
}

h1 {
	font-size: 40px;
}

h1, h2, .coffee-header, .tab-pane, h3 {
	font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
}

.brand {
	color: white;
}

.row {
	padding-top: 2em;
}

.navbar {
	border: none;
	border-radius: 0; 
	padding: 15px;
	background: rgba(255,255,255,0.9);
}

/* this make the text center */
.navbar-collapse {
  text-align:center;
}
/* this make the text center */
.navbar-nav {
    display:inline-block;
    float:none;
    font-size: 1.5em;
}

.box {
	padding: 30px 15px;
	margin-bottom: 20px;
	display: inline-block;
}

.carousel-caption {
	padding-top: 150px;
}

.page-header {
	background: rgba(255,255,255,0.9);
}

hr {
	border: 1px;
	border-top: none;
	margin-top: 0; 
}

.hr-header {
	width: 30%;
	background: rgba(0, 0, 0, 1);
	height: 1px;
}

.col-pd {
	padding-left: 25px;
}

form {
	margin-right: 15px;
}

.col-lg-12:last-of-type {
	padding-top: 10px;
	border-top: 1px solid;	
}

footer {
	background: rgba(255,255,255,0.9);
}

footer .fa {
	font-size: 36px;
	padding: 15px;

} 

a .fa {
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
	color: #777;
}

footer a .fa:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #333;
}

.opinion {
	background: transparent;
}

blockquote {
	 border-left: 3px solid #b3acac;
	 margin-left: 10px;
}

.tab-content {
	background: white;
	padding-right: 15px;
}

.sec_nav {
	font-size: 1.5em;
}

.sec_nav a {
	color: #777;
}

.sec_nav a:hover {
	color: #333;
}

.panel .panel-op {
	margin: 10px 10px;
}

.panel {
	background: rgba(255,255,255,0.9);
}

.panel-heading {
    padding: 15px 15px;
}

.panel-title a {
	font-size: 20px;
}

/*
.panel {
	box-shadow: 10px 10px 24px -5px rgba(0, 0, 0, 0.3);
}
/*
.page-header {
	font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
}

.carousel-caption {
	background-color: black;
	opacity: 0.5;
	border-radius: 25px;
}*/